* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-family: Helvetica;
}

p {
  padding:30px 10px 0 10px ;
  border: 1px solid black;
  background-color: #6b6b6b;

  margin: 0;
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}
.namesettings {
    font-family: Helvetica;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    font-size: 20px;
    position: relative;
    float: right;
    width: 30%;
    text-align: center;
    height: 25px;
    clear: left;

}
/* names colour settings */

#name1{
    background-color: rgb(170, 71, 71);
    color: rgb(0, 0, 0);
}

#name2{
  
    background-color: rgb(112, 0, 0);
    color: white;

}
#name3{
 
    background-color: rgb(218, 228, 79);
    color: rgb(0, 0, 0);
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}
/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4{
    padding: 20px;
    float: left;
    width: 33.33%;
  }
}
/********** Med devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6{
    padding: 20px;
    float: left;
    width: 50%;
  }
  .col-md-6v2{
    padding: 20px;
    float: left;
    width: 100%;
  }
}
/********** small devices only **********/
@media (max-width: 767px) {
  .col-exsm-12{
    padding: 20px;
    float: left;
    width: 100%;
  }
}